body {
	background-color: #0B0C10
}

h1 {
	text-align:center;
	font-family:Impact, Charcoal, sans-serif;
	color: #66FCF1;
	font-size: 48px;
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

td:first-child {
     border-left: none;
}

.table>tbody>tr>td{
	border-top: 0;
}
.table{
	border-collapse:separate;
    border:solid #ddd 1px;
    border-radius:6px;
    -moz-border-radius:6px;
	background-color: #1F2833;
}

.playerTable{
	margin-top: 120px;
	width: 250px;
}

.team-left{
	display:inline-block;
}

.team-right{
	right:0px;
}

.team-name{
	font-family:Impact, Charcoal, sans-serif;
	color:#C5C6C7;
	text-align:center;
	margin-top: 50px;
	font-size: 32px;
}

.team-table{
	display: inline-block;
	width:200px;
	margin-top:100px;
}

.leftForm{
	margin-left:32%;
}

.rightForm{
	right:0px;
	margin-right:32%;
}

.dropdown{
	position: absolute
}

.rightDropdown{
	position:absolute;
	right:0px;
}

.form-control{
	height: 31px;
	margin: 3px;
	background-color: #1F2833;
	font-weight: bold;
	color:#FFFFFF;
}

.leftForm, .rightForm, .team-right{
	display: inline-block;
	position:absolute;
	opacity:0.8;
}

.statLabel, .statValue{
	font-weight:bold;
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
}

.statValue{
	text-align: right;
	width: 120px;
}

.topcorner{
   position:absolute;
   top:0;
   right:0;
   margin-right: 5px;
}

.player-image{
	height:auto;
	position:absolute;
}

.team-image{
	height:auto;
	position:absolute;
	opacity:0.5;
	width:1000px;
	height:1000px;
}

.image-right2{
	right:0px;
}

.image-left{
	display:inline-block;
	position:absolute;
}

.image-right{
	display:inline-block;
	position:absolute;
	right:0px;
}

@media only screen and (max-width: 1645px) {
	.team-left{
		margin-left: 10%;
	}

	.team-right{
		margin-right:5%;
	}

	.rightForm{
		margin-right:20%;
	}

}

@media only screen and (max-width: 1350px) {
	.team-left{
		margin-left: 10px;
	}

	.team-right{
		margin-right:5%;
	}

	.rightForm{
		margin-right:30%;
	}

}

@media only screen and (max-width: 1032px) {
	.team-left{
		margin-left: 10px;
	}

	.team-right{
		margin-right:5px;
	}

	.rightForm{
		margin-right:23%;
	}

}

@media only screen and (max-width: 960px) {
	.team-left{
		margin-left: 10px;
	}

	.team-right{
		margin-top: 400px;
		margin-right:5px;
		left:0;
	}

	.rightForm{
		margin-top: 400px;
		margin-right:23%;
		left:230px;
	}

	.rightDropdown{
		position:relative;
		width: 150px;
	}

	.team-name-right{
		text-align:left;
		margin-left:80px;
	}

}