body {
	background-color: #084854
}

h1 {
	text-align:center;
	font-family:Impact, Charcoal, sans-serif;
	color: #EEAA0C;
	font-size: 48px;
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.table{
	font-weight:bold;
	color: #EEAA0C;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #7C8182;
	margin-top: 75px;
	width: 275px;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.leftForm{
	margin-left: 20%;
	display: inline-block;
	position:absolute;
}

.rightForm{
	display: inline-block;
	right:0px;
	margin-right: 20%;
	position:absolute;
}

.dropdown{
	position: absolute
}

.rightDropdown{
	position:absolute;
	right:0px;
}

.form-control{
	height: 31px;
	margin: 3px;
	background-color: #7C8182;
	font-weight: bold;
	color:white;
}