body {
	background-color: #0B0C10
}

h1 {
	text-align:center;
	font-family:Impact, Charcoal, sans-serif;
	color: #66FCF1;
	font-size: 48px;
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

td:first-child {
     border-left: none;
}

.table>tbody>tr>td{
	border-top: 0;
}
.table{
	border-collapse:separate;
    border:solid #ddd 1px;
    border-radius:6px;
    -moz-border-radius:6px;
	background-color: #1F2833;
}

.playerTable{
	margin-top: 120px;
	width: 250px;
}

.team-left{
	display:inline-block;
}

.team-right{
	display: inline-block;
	position:absolute;
	right:0px;
}

.team-name{
	font-family:Impact, Charcoal, sans-serif;
	color:#66FCF1;
	text-align:center;
	margin-top: 50px;
	font-size: 32px;
	opacity: 1;
}

.team-table{
	display: inline-block;
	width:200px;
}

.leftForm{
	margin-left:32%;
}

.rightForm{
	right:0px;
	margin-right:32%;
}

.dropdown{
	position: absolute
}

.rightDropdown{
	position:absolute;
	right:0px;
}

.form-control{
	height: 31px;
	margin: 3px;
	background-color: #1F2833;
	font-weight: bold;
	color:#FFFFFF;
}

.leftForm, .rightForm {
	display: inline-block;
	position:absolute;
	opacity:0.8;
}

td{
	font-weight:bold;
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
}

th{
	font-weight:bold;
	color: #66FCF1;
	font-family: Verdana, Geneva, sans-serif;
}

.statValue{
	text-align: right;
	width: 120px;
}

.topcorner{
   position:absolute;
   top:0;
   right:0;
   margin-right: 5px;
}

.player-image{
	height:auto;
	position:absolute;
}

.team-image{
	height:auto;
	position:absolute;
	opacity:0.5;
	width:1000px;
	height:1000px;
}

.image-right2{
	right:0px;
}

.image-left{
	display:inline-block;
	position:absolute;
}

.image-right{
	display:inline-block;
	position:absolute;
	right:0px;
}

.champion-images{
	position:absolute;
	display:flex;
	flex-flow: row wrap;
	margin-top: 700px;
	width:800px;
}

.champion-images-left{
	justify-content: flex-start;
	margin-left:100px;
}

.champion-images-right{
	justify-content: flex-end;
	right:100px;
}

.champion-image{
	height:150px;
	width:150px;
}

.champion-title{
	font-family:Impact, Charcoal, sans-serif;
	color:#C5C6C7;
	text-align:center;
	margin-top: 50px;
	font-size: 32px;
}

.fade-element-in.ng-enter {
  transition: 0.8s linear all;
  opacity: 0;
}

.fade-element-in-init .fade-element-in.ng-enter {
  opacity: 1;
}

.fade-element-in.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade-element-in.ng-leave {
  transition: 0.8s linear all;
  opacity: 1;
}
.fade-element-in.ng-leave.ng-leave-active {
  opacity: 0;
}

@media only screen and (max-width: 1800px) {
	.champion-images{
		width:600px;
	}
	.champion-image{
		height:100px;
		width:100px;
	}
}

@media only screen and (max-width: 1645px) {
	.team-right{
		margin-right:5%;
	}

	.image-left2{
		height:310px;
		width:392px;
	}

	.image-right2{
		height:310px;
		width:392px;
	}

}

@media only screen and (max-width: 1400px) {
	.team-left{
		margin-left: 10px;
	}

	.team-right{
		margin-right:5%;
	}

	.rightForm{
		margin-right:30%;
	}

	.champion-images{
		width:400px;
	}
	.champion-image{
		height:80px;
		width:80px;
	}

}

@media only screen and (max-width: 1325px) {
	.team-left{
		margin-left: 10px;
	}

	.team-right{
		margin-right:5px;
	}

	.rightForm{
		margin-right:23%;
	}

}

@media only screen and (max-width: 1120px) {
	.team-left{
		margin-left: 10px;
	}

	.team-right{
		margin-right:5px;
	}

	.leftForm{
		margin-top: 400px;
		left:0px;
		margin-left: 100px;
	}

	.rightForm{
		margin-top: 400px;
		right:0;
		margin-right: 100px;
	}

	.leftDropdown{
		width: 150px;
	}

	.rightDropdown{
		width: 150px;
	}

	.champion-images{
		width:350px;
		margin-top:1100px;
	}
	.champion-image{
		height:60px;
		width:60px;
	}

}