<!doctype html>
<html ng-app="index">
	<head>
		<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
		<script src="./js/index.bundle.js"></script>
		<link rel="stylesheet" href="./css/index.css">
		
		<title>Pro 2 Pro</title>
		<h1>Pro 2 Pro</h1>
	<head>
	<body>
		
		<div ng-controller="ctrl1">
			<div class="leftForm">
				<div class="dropdown">
					<select class="form-control" name="team" ng-options="team for team in teams" ng-model="selectedTeam1" ng-change="onTeamChange(selectedTeam1,'left')">
						<option value="">Select Team</option>
					</select>
					<div ng-if="selectedTeam1">
						<select class="form-control" name="player1" ng-options="player1.name for player1 in players1" ng-model="selectedPlayer" ng-change="setPlayer(selectedPlayer,'left')">
							<option value="">Select Player</option>
						</select>
					</div>
				</div>
				<table class="table">
					<tr ng-repeat="(key, value) in stats1">
						<td class="statLabel">
							{{key}}
						</td>
						<td class="statValue">
							{{value}}
						</td>
					</tr>
				</table>
			</div>
			
			<span class="rightForm">
				<div class="rightDropdown">
					<select class="form-control" name="team" ng-options="team for team in teams" ng-model="selectedTeam2" ng-change="onTeamChange(selectedTeam2,'right')">
						<option value="">Select Team</option>
					</select>
					<div ng-if="selectedTeam2">
						<select class="form-control" name="player2" ng-options="player2.name for player2 in players2" ng-model="selectedPlayer" ng-change="setPlayer(selectedPlayer,'right')">
							<option value="">Select Player</option>
						</select>
					</div>
				</div>
				<table class="table">
					<tr ng-repeat="(key, value) in stats2">
						<td class="statLabel">
							{{key}}
						</td>
						<td class="statValue">
							{{value}}
						</td>
					</tr>
				</table>
			</span>
		</div>
	</body>
	
</html>