<!doctype html>
<html ng-app="index">
	<head>
		<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
		<script src="./js/index.bundle.js"></script>
		<link rel="stylesheet" href="./css/index.css">
		
		<title>Pro 2 Pro</title>
	<head>
	<body>
		<div ng-controller="homeController as $ctrl">
            <h1>Pro 2 Pro</h1>
            <!--this is hardcoded to set the first season to be the default-->
            <div ng-if="seasons[0]" class="topcorner">
                <select class="form-control" name="season" ng-init="$ctrl.selectedSeason = seasons[0]" ng-options="season for season in seasons" ng-model="$ctrl.selectedSeason">
                </select>
            </div>
            <div class="image-left">
            	<img class="team-image" ng-src="{{teamImage1}}">
            	<img class="player-image" ng-src="{{playerImage1}}">
            </div>
			<div class="leftForm">
				<div class="dropdown">
					<select class="form-control" name="region" ng-options="region for region in regions" ng-model="selectedRegion1" ng-change="onRegionChange(selectedRegion1, 'left')">
						<option value="">Select Region</option>
					</select>
					<div ng-if="selectedRegion1">
						<select class="form-control" name="team" ng-options="team for team in teams1" ng-model="selectedTeam1" ng-change="onTeamChange(selectedTeam1,'left')">
							<option value="">Select Team</option>
						</select>
						<div ng-if="selectedTeam1">
							<select class="form-control" name="player1" ng-options="player1.name for player1 in players1" ng-model="selectedPlayer" ng-change="setPlayer(selectedPlayer,'left')">
								<option value="">Select Player</option>
							</select>
						</div>
					</div>
				</div>
				<table class="table playerTable">
					<tr ng-repeat="(key, value) in stats1">
						<td class="statLabel">
							{{key}}
						</td>
						<td class="statValue">
							{{value}}
						</td>
					</tr>
				</table>
	            <div class="team-left">
	            	<div class="team-name">
	            		{{teamName1}}
	            	</div>
					<table class="table team-table">
						<tr ng-repeat="(key, value) in teamStats1">
							<td class="statLabel">
								{{key}}
							</td>
							<td class="statValue">
								{{value}}
							</td>
						</tr>
					</table>
	            </div>
			</div>
			<div class="image-right">
				<img class="team-image image-right2" ng-src="{{teamImage2}}">
            	<img class="player-image image-right2" ng-src="{{playerImage2}}">
            </div>
			<div class="rightForm">
				<div class="rightDropdown">
					<select class="form-control" name="region" ng-options="region for region in regions" ng-model="selectedRegion2" ng-change="onRegionChange(selectedRegion2, 'right')">
						<option value="">Select Region</option>
					</select>
					<div ng-if="selectedRegion2">
						<select class="form-control" name="team" ng-options="team for team in teams2" ng-model="selectedTeam2" ng-change="onTeamChange(selectedTeam2,'right')">
							<option value="">Select Team</option>
						</select>
						<div ng-if="selectedTeam2">
							<select class="form-control" name="player2" ng-options="player2.name for player2 in players2" ng-model="selectedPlayer" ng-change="setPlayer(selectedPlayer,'right')">
								<option value="">Select Player</option>
							</select>
						</div>
					</div>
				</div>
				<table class="table playerTable">
					<tr ng-repeat="(key, value) in stats2">
						<td class="statLabel">
							{{key}}
						</td>
						<td class="statValue">
							{{value}}
						</td>
					</tr>
				</table>
				<div class="team-right">
	            	<div class="team-name team-name-right">
	            		{{teamName2}}
	            	</div>
					<table class="table team-table">
						<tr ng-repeat="(key, value) in teamStats2">
							<td class="statLabel">
								{{key}}
							</td>
							<td class="statValue">
								{{value}}
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
	
</html>